@font-face {font-family: Poppins-regular;src: url(../../assets/fonts/Poppins-Regular.ttf);}@font-face {font-family: Poppins-medium;src: url(../../assets/fonts/Poppins-Medium.ttf);}@font-face {font-family: Poppins-bold;src: url(../../assets/fonts/Poppins-Bold.ttf);}@font-face {font-family: Poppins-extrabold;src: url(../../assets/fonts/Poppins-ExtraBold.ttf);}@font-face {font-family: Poppins-light;src: url(../../assets/fonts/Poppins-Light.ttf);}
/*==Ruleset==*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after,*::before{
    box-sizing: border-box;
}
html,body{
    height: 100%;
    scroll-behavior: smooth;
    font-family: Poppins-regular !important;
    
}
.font-weight-bold{
  font-family: Poppins-bold;
}
body{
  overflow:hidden;
}
ul,ol{list-style: none;}
a{text-decoration: none;}
input:focus{outline:none;}

/**==Header==**/
header{background: #fff; position: relative;display: flex;justify-content: center;align-items: center;flex-direction: column;}
nav{background: transparent !important;}
.nav-item{padding: 0px 10px;}
.navbar-brand{font-weight: bold;text-transform: uppercase; font-family: 'Montserrat', sans-serif;padding: 0px 10px;display: inline-flex;justify-content: center;align-items: center;flex-direction: column;color:#222;}
.navbar-brand:hover{color:inherit;}

/*==Hb-Anim==*/
.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    padding: 0;
    height: 45px;
    width: 45px;
    z-index: 2;
  }
  .navbar-nav{
      width: auto;
      box-shadow: none;
  }
  .menu svg{width: 100%; height: 100%;}
  .line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu:focus {
    outline: none !important;
}
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 4;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 4;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 4;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 4;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 4;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 4;
  }
  /*\hbg\*/

.toggle-nav{
    width: 320px;
    box-shadow: 0px 30px 50px rgba(0,0,0,0.2);
}
.home-sect{
    position: relative;
    min-height: 120vh;
    background-image: url(../../assets/images/banner3.jpg);
    background-size: cover;
    display:flex;
    justify-content: space-around;
    align-items:flex-end;
    background-attachment: fixed;
    flex-direction: column;
}
.home-sect:before{
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  height: 100%;
  width: 100%;
  background:rgba(0,0,0,0.7);
}
.box{
  width: 100%;
  height: 95%;
  background:#fff;
  backdrop-filter: blur(20px);
  border-radius: 0;
  margin: 5px 5px;
  padding: 15px;
  border:7px solid #87CEC1;
  transition:transform 200ms;
}
.box .content{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box h3{
  color:#222;
}
.box p{
  color:#222;
}
.icon{
  width: 100%;
  display: flex;
  justify-content: center;
}
.text h3, .text p{
  text-align: center;
  margin-top: 10px;
}
.icon ion-icon{
  text-align: center;
  color:#87CEC1;
  font-size: 40px;
}
.box-btn{
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  line-height: 40px;
  width: 120px;
  background: #87CEC1;
  text-align: center;
  text-decoration: none;
  color: #222;
  transition: 200ms;
}
.posme{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color:#fff;
  z-index: 1;

}
.content-home{
  margin: 150px 0px 100px 0px;
  justify-content: space-around;
  display: flex;
  flex-wrap:wrap;
  width: 100%;
  z-index: 1;
}
.posme h1{
  font-weight: 900;
  font-size: 35px;
  margin-bottom: 15px;
  color:#fff;
}
.posme .box-btn{
  margin-top:20px;
}
.box-btn ion-icon{
  transform: translateX(-20px);
  opacity: 0;
  visibility: hidden;
  transition: 200ms;
  display:none;
}
.box-btn:hover{
  width:140px;
  transition: 200ms;
  text-decoration:none;
  color:#222;

}
.box-btn:hover ion-icon{
  transform: translateX(0px);
  opacity: 1;
  visibility: visible;
  transition: 200ms;
  display: block;
}
.head-cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height:100px;
}
.headrow{
  width: 100%;
}
.sect0,.sect1,.sect2,.sect3{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.headrow ion-icon{
  margin-right: 10px;
  font-size: 24px;
}
.headrow a{
  color:#222;
}
.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  text-decoration: none;
  cursor:pointer;
  color:#343434;
  visibility: hidden;
}
.closebtn:hover{
  text-decoration: none;
  color:#222;
}
.box:hover{
  transform: scale(1.05);
  transition:transform 200ms;
}
.prel{
  position: fixed;
  top:0;
  z-index: 9999;
  left: 0;
  transform: scaleY(1);
  height: 100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  flex-direction: column;
}
.prel img{
  width: 160px;
  animation: blink-2 1.5s infinite both;
  pointer-events: none;
  user-select: none;
}
@-webkit-keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.anim{
  opacity:0;
}
.clippy-anim{
  clip-path: inset(0 0 0 0);
}
/*Fm*/



.card-form {
  width: 320px;
  background: white;
}
.card-form .form-title {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: 80px;
  font-size: 20px;
  font-weight: bold;
  background: #87CEC1;
}
.card-form .form-body {
  padding: 10px;
}
.card-form .form-body .row {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.card-form .form-body .row input[type="email"]{
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
width: 100%;
margin: 5px 15px;
height: 35px;
padding: 5px 15px;
outline: none;
border: none;
background: #e8ebed;
color: #576366;
font-size: 14px;
}
.card-form .form-body .row input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  margin: 5px 15px;
  height: 35px;
  padding: 5px 15px;
  outline: none;
  border: none;
  background: #e8ebed;
  color: #576366;
  font-size: 14px;
}

.card-form .rule {
  height: 2px;
  background: #e8ebed;
  margin: 0px 35px;
}
.card-form .form-footer {
  margin: 0 25px 15px 25px;
  padding: 15px 10px;
}
.card-form .form-footer .submit-btn {
  display: inline-block;
  height: 40px;
  line-height: 30px;
  border: none;
  padding: 5px 15px;
  background: #87CEC1;
  text-decoration: none;
  margin-right: 10px;
  color:#222;
  font-size: 14px;
}
.card-form .form-footer .submit-btn:hover{
  text-decoration: none;
  color:#fff;
}
.card-form .form-footer span {
  margin-left: 8px;
}


.social-links{
  position: fixed;
  top: 50%;
  left:-50%;
  transform: translateY(-50%);
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 60px;
  height:150px;
  background:#fff;
  z-index: 1;
  transition:200ms;
}
.social-links a{
  font-size:24px;
  color:#7a7a7a;
  margin:5px 0px;
  transition: color 200ms linear;
}
.showmelink{
  left:0;
  transition:200ms;
}
.padder{
  padding:100px 0px !important;
}
.boxi{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:10px;
}
.icon-inner ion-icon{
  font-size: 33px;
  color:#87CEC1;
}
.content-boxi h3{
  margin: 10px 0px;
  font-weight: 700;

}
.social-links a:hover{
  color:#87CEC1;
  transition: color 200ms linear;
}
.cme{
  color:#87CEC1;
}
.headix{
  position: relative;
}
.headix:before{
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  height:2px;
  background: #222;
  width: 80px;
}

.card-container {
	align-items: start;
	display: grid;
	grid-gap: 16px;
	grid-template-columns: repeat(auto-fit, 300px);
	justify-content: center;
}
.card-damn {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-img{
  width: 100%;
}
.card-damn img{
  width:100%;
}
.card-damn .csty{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
  color:#fff;
  z-index: 2;
  opacity:1;
  transition: transform 200ms linear;
}
.card-damn:before{
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  content:'';
  background:rgba(135, 206, 193, 0.7);
  z-index: 1;
}

/**/
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}
button:focus{
  outline:none !important;
}
.collapsible.active, .collapsible:hover {
  background-color: #87CEC1;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapsible.active:after {
  content: "\2212";
}

 .contentx {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
.contentx p {
  padding: 20px 0px;
  text-align: center;
}
.nav-item.active{
  background: transparent !important;
}

.pb-50{
  padding-bottom: 200px;
}
.newsletter{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.newsletter .box-btn{
  width:90px;
  height:30px;
  line-height: 20px;
  outline:none;
  border:none;
}
.newsletter input[type="email"]{
  width:300px;
}
.meme{
  background:#222;
  display:flex;
  justify-content: space-around;
  align-items: center;
  height:200px;
  flex-wrap: wrap;
}
.meme ul{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
.meme ul li{
  padding:0px 10px;
}
.meme ul li a{
  font-size: 24px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #f1f1f1;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color:#777;
}
.cpyrt{
  color:#fff;
}

.bcb{
  background: #eee !important;
  margin-bottom: 0 !important;
}
.deactive{
  color:#7a7a7a !important;
}
.banner-xda{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
  background:#fff;
}
.banner-xda img{
  width:100%;
  height:100%;
}
.shareul{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
.shareul li{
  padding:0px 10px;
}
.shareul li a{
  font-size: 24px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #f1f1f1;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color:#777;
}
.lh-50{
  line-height: 50px;
}
.modal-title{
  position: relative;
}
.modalclose{
  position: absolute;
  top:10%;
  left:2%;
  height:40px;
  width:40px;
  outline: none;
  border: none;
  background: transparent;
  
}
button.modalclose ion-icon {
  font-size: 40px;
  color: #999;
}
.centered.box-btn{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.imodelcontent{
  padding: 10px 20px;
}
.modal-form input.form-control {
  height: 35px;
  border-radius: 0 !important;
  box-shadow: none !important;
  border: 2px solid #222;
}
.metoox{
  height: 35px;
  border-radius: 0 !important;
  box-shadow: none !important;
  border: 2px solid #222;
}
/*Footer*/

.footer-area {
  background: #11141b;
}
.footer-area .footer-top .single-footer-caption .footer-tittle h4 {
  color: #fff;
  font-family: "Muli",sans-serif;
  font-size: 18px;
  margin-bottom: 38px;
  font-weight: 500;
  text-transform: uppercase;
}
.footer-area .footer-top .single-footer-caption .footer-pera .info1 {
  line-height: 1.8;
  margin-bottom: 35px;
  color: #bdbdbd;
}
.footer-area .footer-top .single-footer-caption .footer-number h4 span {
  color: #fff;
}
.footer-area .footer-top .single-footer-caption .footer-number h4 {
  color:#fff;
  font-size: 30px;
  font-weight: 500;
  text-transform: capitalize;
}

.footer-area .footer-top .single-footer-caption .footer-number p {
color: #bdbdbd;
}
.mb-50 {
margin-bottom: 50px;
}
.footer-area .footer-top .single-footer-caption .footer-form {
margin-bottom: 30px;
}
.footer-area .footer-top .single-footer-caption .footer-form form {
position: relative;
}
.footer-area .footer-top .single-footer-caption .footer-form form input {
width: 100%;
height: 43px;
padding: 10px 20px;
border: 0;
background: #1c242f;
color: #fff;
}
.footer-area .footer-top .single-footer-caption .footer-form form .form-icon button {
position: absolute;
top: 0px;
right: 0;
background: none;
border: 0;
cursor: pointer;
padding: 15px 22px;
background: #0a0f17;
line-height: 1;
color: #fff;
font-size: 14px;
font-weight: 300;
}
.bt-section2{
padding: 100px 20px 40px 20px;
}
.footer-area .footer-social a {
color: #fff;
font-size: 14px;
padding-left: 25px;
}
.footer-area .footer-bottom .footer-copy-right p {
color: #bdbdbd;
font-weight: 300;
font-size: 16px;
line-height: 2;
margin-bottom: 12px;
}
.footer-area .footer-top {
border-bottom: 1px solid #233148;
}
.footer-area .footer-bottom {
padding-bottom: 50px;
padding-top: 30px;
}
.footer-logo{
  display:flex;
  width:100%;
  justify-content: center;
  align-items: center;

}
.footer-logo img{
  width:100px;
}
.txtarea{
  height: 268px !important;
  background:rgb(238 238 238 / 0.5) !important;
}
.inputx,.txtarea{
  background:rgb(238 238 238 / 0.5) !important;
  box-shadow: none !important;
  border:none !important;
}

.bd{
  padding: 30px !important;
}
.m-submit{
  color:#222;
  background:#fff !important;
  border:1px solid rgba(0,0,0,0.5) !important;
  border-radius: 0 !important;
}
.msubmit:hover{
  color: inherit !important;
}
.nav-btn{
  border: none;
  padding:18px 38px;
  text-transform: capitalize;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  background-size: 200%;
  transition: 0.6s;
  background-image: linear-gradient(to left, #8aaee0, #8ac0f1, #9dbde8);
  text-decoration: none !important;
}
.anof img{
  width:100%;
  border-radius: 50%;
}
.anof{
  width:70%;
  margin:auto;
}

/*blg*/
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 60px;
}

/* image */
.imimage {
  background-color: #aaa;
  width: 100%;
}

/* Add a card effect for atc */
.cardx {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.rowx:after {
  content: "";
  display: table;
  clear: both;
}

.f-me {
  margin: 0px 5px;
  text-align: center;
  font-size: 24px;
  color: #111;
}
button#btn-fd {
  background: transparent;
  outline: none;
  border: none;
  font-weight: bold;
  color: #adceb9;
}
/*Abt*/
.columnx {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.team {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}


.container-team {
  padding: 0 16px;
}

.container-team::after, .row-team::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.header-title,.header-btn{
  background: #87CEC1;
}
.header-btn{
  padding: 20px 0px;
}
.info-cont{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.info-cont a {
  background: #222 !important;
  height: 40px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  border-radius: 0 !important;
  width: 100%;
  font-size: 20px;
}

/*Queries*/
@media screen and (max-width: 992px) {
  .leftcolumn, .rightcolumn {   
    width: 100% !important;
    padding: 0;
  }
  .anof{
    width:150px !important;
  }
  .anof img{
    width:100%!important;
  }
  .rightcolumn {
 
    padding-left: 0px !important;
}
}
@media only screen and (max-width:991px){
  .t-side{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 999;
      top: 0;
      right: 0;
      background-color:#fff;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
      font-size: 20px;
  }
  .menu {
      display: flex;
      opacity: 1;
      visibility: visible;
    }
    .nav-item{
        padding: 10px 0px !important;
    }
    nav.navbar.navbar-expand-lg.navbar-light {
      display: flex !important;
      justify-content: flex-end !important;
  }
}
@media only screen and (min-width:991px){
  .navbar-nav{
      width: auto !important;
      box-shadow: none !important;
  }
  .menu{
    opacity: 0;
    visibility: hidden;
  }
}
@media only screen and (max-width:969px){
  .card-form{
    margin-top: 50px;
  }
  .content-home{
    justify-content: center;
  }
}
@media only screen and (max-width:536px){
  .hideme{
    display: none;
  }
}
@media only screen and (max-width:768px){
  .head-cont{
    display:none;
  }
  .footer-logo {
    justify-content: flex-start !important;
    margin-bottom: 20px;
}
.columnx {
  width: 100%;
  display: block;
}
.contact-col{
  order: -1 !important;
}
}
@media only screen and (min-width:992px){
  #cbtn{
    display: none !important;
  }
} 
@media only screen and (max-width:1270px){
  .social-links{
    display: none !important;
  }
}
@media only screen and (max-width:384px){
  .newsletter input[type="email"]{
    width:auto !important;
  }
}
@media only screen and (max-width:450px){
  .pad-med{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
